{% extends "base.html" %}
{% block title %}Làm bài thi{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/exam_do.css') }}">
{% endblock %}

{% block content %}
<div class="exam-container">

    <h2>📝 {{ exam.title }}</h2>
    <p><b>Môn:</b> {{ exam.subject }}</p>

    <div id="timer" class="timer">
        ⏱️ Thời gian còn lại: <span id="time"></span>
    </div>
    <form id="examForm" 
        method="post"
        action="{{ url_for('result.submit_result', exam_id=exam.id) }}">
        
        {% for q in questions %}
        <div class="question-box">
            <p><b>Câu {{ loop.index }}:</b> {{ q.content }}</p>

            {% for key, value in q.answers.items() %}
            <label>
                <input type="radio" name="q{{ q.id }}" value="{{ key }}">
                {{ key }}. {{ value }}
            </label><br>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn-submit">
            📤 Nộp bài
        </button>
    </form>
</div>

<script>
    const DURATION = Number("{{ exam.duration }}") * 45 || 3600;
</script>
<script src="{{ url_for('static', filename='js/exam_do.js') }}"></script>
{% endblock %}