.timer {
    font-size: 18px;
    font-weight: bold;
    color: #dc2626;
    margin-bottom: 20px;
}
.exam-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.question-box {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    background: #f8fafc;
    border: 1px solid #ddd;
}

.question-box label {
    display: block;
    margin: 5px 0;
}
 .btn-submit {
    padding: 10px 20px;
    font-size: 16px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}